src/schema/ability.schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Definition for the root element: Ability -->
    <xs:element name="ability" type="AbilityType"/>

    <!-- Type definition for an Ability -->
    <xs:complexType name="AbilityType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="cost" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="keywords" type="KeywordsType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="distance" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="target" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="trigger" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="flavor" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="effects" type="EffectsType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Type definition for Keywords -->
    <xs:complexType name="KeywordsType">
        <xs:sequence>
            <xs:element name="keyword" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Type definition for Effects -->
    <xs:complexType name="EffectsType">
        <xs:sequence>
            <xs:element name="effect" type="EffectType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Rich text type definition -->
    <xs:complexType name="RichTextType" mixed="true">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Result type definition -->
    <xs:complexType name="ResultType">
        <xs:sequence>
            <xs:element name="success" type="RichTextType" minOccurs="0"/>
            <xs:element name="failure" type="RichTextType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Effect type definition -->
    <xs:complexType name="EffectType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="roll" type="xs:string"/>
            <xs:element name="t1" type="xs:string"/>
            <xs:element name="t2" type="xs:string"/>
            <xs:element name="t3" type="xs:string"/>
            <xs:element name="crit" type="xs:string"/>
        </xs:choice>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="cost" type="xs:string" use="optional"/>
    </xs:complexType>

</xs:schema> 